extends ./layout/index

block contenido
    .row
        .col-md-5 
            img(src="img/nosotros.jpg", alt="",class=img-fluid)
        .col-md-7 
            h1 #{pagina}
            blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eget vulputate libero, ac euismod ligula. Morbi eu eros ut enim placerat dignissim. Vivamus ut nisi imperdiet, tincidunt tortor nec, lobortis ante. Vestibulum efficitur gravida ex, et varius lorem gravida non. Nunc eget mauris consectetur, accumsan velit quis, facilisis turpis. Ut aliquet molestie erat, eu gravida sapien. Fusce mattis viverra tellus, ut fermentum diam lobortis eu. Aliquam dapibus vulputate vehicula. Proin finibus malesuada condimentum. Sed semper magna convallis nibh laoreet, ac tempor magna ultrices.
            p Donec at neque turpis. Sed at ultricies nisi. Vestibulum vel efficitur eros. Ut posuere nulla semper, malesuada lorem eu, tempor purus. Duis commodo, purus sed commodo porta, magna tortor viverra purus, ac consequat sem nulla et lectus. Aenean molestie vulputate consequat. Cras eu est pulvinar, porta felis eget, pellentesque quam. Aenean nulla dolor, convallis vel est id, fringilla pharetra nulla.
            p Fusce id faucibus justo, eget rutrum enim. Aliquam vestibulum libero ut mattis malesuada. Proin aliquam vel lacus nec pharetra. Quisque viverra luctus est, ac blandit diam pellentesque et. Cras posuere nibh vitae ipsum congue, id dictum nisi varius. Praesent finibus efficitur volutpat. Nam id diam dignissim, lacinia tortor in, sagittis elit. Ut sed vehicula enim. Nullam consectetur enim ut aliquam blandit.

    .listado-iconos
        .container.mt-5.py-5.text-center 
            .row
                .col-md-4
                    img(src="/img/icono_seguridad.svg", alt="",class="img-fluid mb-4")
                    h2.mb-4 seguridad
                .col-md-4
                    img(src="/img/icono_destinos.svg", alt="",class="img-fluid mb-4")
                    h2.mb-4 seguridad
                .col-md-4
                    img(src="/img/icono_precios.svg", alt="",class="img-fluid mb-4")
                    h2.mb-4 seguridad